body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
    width: 25vw;
    height: 25vw;
}

.slot {
    background-color: lightgrey;
    border-radius: 1rem;
    transition: all .2s ease-in-out;
}

.slot:hover {
    transform: scale(1.03);
}